.orange {
  background-color: orange;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.bold {
  font-size: 80px;
}
.small {
  font-size: 16px;
}
